* {
				margin: 0;
				padding: 0;
			}
			body {
				font-family: 'Lora', serif;
				background-color: #fff;
			}
			.intro {
				background: url('http://mauhealmeida.com/final-project/images/header.jpg') no-repeat;
				background-position: 100% 100%;
				background-size: cover;
				position:relative;
                display:block;
                width:100%;
                height:700px;
                background-attachment:fixed;
                background-repeat:no-repeat;
                background-size:cover;
                background-position:center center;
			}
			.intro h1 {
				text-align: left;
				padding-left: 50px;
				width: 420px;
				text-transform: uppercase;
				font-family: 'Inknut Antiqua', serif;
				font-size: 3em;
				color: #fff;
			}
			.content {
				height: 500px;
				padding: 100px 0;
				
			}
			.dragonpng {
				float: left;
				padding-left: 50px;
				padding-right: 20px;
			}
			.content2{
				height: 600px;
				padding: 100px 0;
				width: 60%;
				margin: 0 auto;
				
			}
			.princess {
				float: right;
				padding-left: 50px;
				padding-right: 20px;
			}
			#map { 
			    height: 800px; 
			}
			.content3 {
				height: 1000px;
				padding: 100px 0;
				width: 60%;
				margin: 0 auto;

			}
			.content4 {
				height: 1000px;
				padding: 100px 0;
				width: 60%;
				margin: 0 auto;

			}
			.content h2, .content p {
				width: 60%;
				margin: 0 auto;
			}
			footer {
				text-align: center;
				padding: 20px ;

			}